@media print {
    body {
        margin: 0 !important;
        padding: 0 !important;
    }

    @page {
        size: A4;
        margin: 10mm !important;
    }
    
    .row {
        page-break-inside: avoid;
    }

    .header h1 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; /* Optional */
    }

    .container {
        width: 100% !important;
        height: auto !important;
        position: relative !important;
    }

    .header {
        font-weight: bolder;
        z-index: 1;
        text-align: center;
    }

    p.footer {
        position: fixed;
        bottom: 0; /* Stick the footer to the bottom */
        width: 100%; /* Ensure it spans the full width */
        font-weight: 900;
        background-color: white; /* Ensure it's visible */
        text-align: center;
    }

    #printBtn {
        display: none;
    }
}

.output {
    display: none;
}

.footer {
    display: none;
}


#headerImage {
    width: 100%;
    height: 100%;
}

#headerImage.header-hidden {
    visibility: hidden;
}

.header {
    min-height: 140px;
}
